* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: #00f;
  font-family: "Karla", sans-serif;
  overflow-y: visible;
}

nav {
  position: fixed;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  color: #f9f9f9;
  cursor: pointer;
  font-family: "Lobster", cursive;
  text-decoration: underline;
  text-decoration-color: #f0f;
  transition: 0.7s ease-in-out;
}

nav a:hover {
  color: #f9f9f9;
  text-decoration: underline;
  text-decoration-color: #f0f;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4 {
  color: white;
  text-decoration: underline;
  text-decoration-color: #f0f;
  font-family: "Lobster", cursive;
}

p {
  font-size: 18px;
  color: #f9f9f9;
}

button {
  background-color: #f0f !important;
  border: 2px solid #f0f;
  font-size: 1rem !important;
  font-weight: 400;
}

button:hover {
  background-color: #00f !important;
  color: #f0f !important;
  font-size: 1rem !important;
}

footer {
  background-color: #000250;
  padding: 4rem 0 2rem 0;
}

form {
  border-radius: 15px;
  background-color: white;
}

.reverse {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 767px) {
  .reverse {
    flex-direction: row-reverse !important;
  }
}
