* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: #00f;
  font-family: "Lato", sans-serif;
  overflow-y: visible;
}

nav {
  position: fixed;
}

nav a {
  text-decoration: none;
  color: #f9f9f9;
  cursor: pointer;
}

nav a:hover {
  color: #f0f;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4 {
  color: white;
  text-decoration: underline;
  text-decoration-color: #f0f;
  font-family: "Lobster", cursive;
}

p {
  font-size: 18px;
  color: #f9f9f9;
}

button {
  background-color: #f0f !important;
  border: 2px solid #f0f;
  font-size: 1rem !important;
}

button:hover {
  background-color: #00f !important;
  color: #f0f !important;
  font-size: 1rem !important;
}

footer {
  background-color: #000250;
  padding: 4rem 0 2rem 0;
}

form {
  border-radius: 15px;
  background-color: white;
}
