.project {
  position: relative;
  padding: 2rem 0;
  border-radius: 20px 20px 0 0;
  margin-top: 8rem;
  z-index: 0;
}

.img {
  position: absolute;
  left: 40%;
  top: -50px;
}

.modal {
  border: 3px solid #f0f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal ul {
  list-style: none;
}

.links {
  font-size: 2rem;
  color: white;
}

.links i:hover {
  color: #f0f;
}

.cv {
  min-height: 78vh;
}
